.fullScreenStyle {
  width: 100vw;
  height: 100vh;
}

.sideLayoutStyle {
  width: fit-content;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 0px;
}

.menuStyle {
  background-color: #282c34;
  color: white;
  height: 100vh;
}

.mainLayoutStyle{
  width: 70vw;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: transparent;
}

.headerStyle {
  height: 12vh;
  width: 100vw;
  background-color:#282c34;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 300;
}

.contentStyle {
  height: 76vh;
  width: 90vw;
  background-color: white;
  color: #282c34;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footerStyle {
  display: flex;
  height: 12vh;
  width: 100vw;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #282c34;
  color: white;
  font-weight: 200;
}

.siderStyle {
  background-color: #282c34;
  height: 100vh;
  width: fit-content;
}

.bottomHorizontalStyle {
  height: 6vh;
  width: 80vw;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  color: White;
}

.buttonStyle {
  box-shadow: 2px 2px black;
  transition-duration: 0.4s;
  border-radius: 20;
  border-color: black;
  border-style: solid;
}

.tableStyleMobile {
  display:table;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-spacing: -2px;
  border-color: black;
  border-radius: 11px;
}

.tableStyle {
  display:table;
  margin-left: 5px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-spacing: -2px;
  border-color: black;
  border-radius: 11px;
}

.formStyle{
  border-radius: 10px;
  border-color: black;
  border-style: groove;
  border-spacing: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;
  overflow:auto;
  height: 50vh;
  width: 100vw;
}

.associationSubFormTitle{
  color: black;
  font-size: x-large;
  font-weight: 150;
}

.centeredFormStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.textStyle {
  font-size: 16px;
  color: #282c34;
  text-align: center;
  color: black;
}

.spanStyle {
  color: white;
  text-align: center;
  display: flex;
}

.formLabelStyle {
  color: red;
}

@media (max-width : 400px) {
  .tableStyle{
    display: none;
  }
  .tableStyleMobile{
    width: 250px;
  }
  .spanStyle{
    font-size: smaller;
  }
  
  
}

@media (min-width: 401px){
  .tableStyleMobile{
    display: none;
  }
  .tableStyle{
    width: 100vw;
  }
  .spanStyle{
    font-size: x-large;
  }
}